
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, sans-serif;
    background-color: black;
    color: white;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('IMG/Gif.gif');
    background-size: cover;
    background-position: center;
  }
  
  .login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
  }
  
  .login-box {
    background: linear-gradient(135deg, rgb(255, 255, 255), rgb(201, 46, 201), rgb(0, 0, 0));
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(255, 255, 255, 0.2);
    text-align: center;
    width: 300px;
  }
  
  .logo img {
    width: 100px; 
    margin-bottom: 20px;
  }
  
  .login-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  
  .login-form input {
    padding: 10px;
    margin: 5px 0;
    border-radius: 5px;
    border: 1px solid #444;
    background-color: #222;
    color: white;
    font-size: 16px;
  }
  
  .login-form input:focus {
    outline: none;
    border: 1px solid #8a2be2; 
    background-color: #333;
  }
  
  .login-form button {
    padding: 10px;
    background-color: #8a2be2; 
    color: white;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .login-form button:hover {
    background-color: #7a1db6; 
  }
  
  .forgot-password a {
    color: #ffffff;
    text-decoration: none;
    font-size: 14px;
    margin-top: 10px;
  }
  
  .forgot-password a:hover {
    text-decoration: underline;
  }
  